div{
    color: aqua;
    background-color: red;
    width: 20rem;
    height: 20rem;
}

// block  bagal me koi nahi aaega 
// inline bagal me aa sakte ho 
// inlineblock allow bhi karega aajao aur changes bhi kar sakte hai height aur width me 
